epic/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Field"/>
        <xs:element name="Function">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Sum"/>
              <xs:enumeration value="Avg"/>
            </xs:restriction>
          </xs:simpleType>
	</xs:element>
        <xs:element type="xs:byte" name="Time"/>
        <xs:element name="ConditionType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="GreaterThan"/>
              <xs:enumeration value="LessThan"/>
            </xs:restriction>
          </xs:simpleType>
	</xs:element>
        <xs:element type="xs:byte" name="ConditionArgument"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>